/* Reset styles and imports */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: "Futura", "Futura LH Extra Bold";
    src: url("C:/Users/Desktop/Website/fonts/FUTURA EXTRA BLACK CONDENSED BT.TTF");
}

/* Define color variables */
:root {
    --main-background: #ebebeb;
    --text-color: #0a0a0a;
    --text-color-transparent: #ebebeb;
    --link-color: #0a0a0a;
    --link-hover-color: #d7d7d7;
    --footer-background: #ebebeb;
    --footer-text: #0a0a0a;
    --footer-link: #0a0a0a;
    --footer-icon: #0a0a0a;
}

/* Global styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background: var(--text-color);
    color: var(--main-background);
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    cursor: context-menu;
    scroll-behavior: smooth;
    background: var(--main-background);
    font-family: 'Noto Sans', sans-serif;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
    background: var(--main-background);
}

body::-webkit-scrollbar {
    display: none;
}


a, div, .main a, .navbar a, .nonmle {
    text-decoration: none;
}


.nonmle {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 25px;
    font-family: "Futura";
    object-fit: cover;
    border: 0px solid;
    color: var(--text-color);
    transition: 1s cubic-bezier(0, 0, 0.2, 1);
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
  height: 107px; 
  width: calc(100% - 80px);
  margin: 0 40px;
  padding: 0; 
  box-sizing: border-box;
  z-index: 1;
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  list-style: none;
  align-content: center;
  flex-direction: row;
}

.navbar li {
  font-size: 2vw; 
}

.navbar a {
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.3s ease-in-out;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5vw; 
  font-weight: 800;
}

.navbar a:hover {
  color: var(--text-color);
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  /* bottom: 0; */
  right: 0;
  margin: 0 40px;
  width: 100%;
  max-width: 375px;
  height: 430px;
  background-color: var(--footer-background);
  color: var(--link-color);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}

.menu .menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 107px;
  padding: 0;
}

.menu h2 {
    height: 100%;
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 22.5px;
    line-height: 130%;
}

.menu .lists {
  width: 100%;
  height: 15%;
  background-color: #ebebeb;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 20px;
  align-content: flex-start;
  font-weight: 500;
}

.close-menu-btn {
  cursor: pointer;
  width: 2%; 
  height: 2%;
}
#closeMenuBtn {
  display: none;  
  width: 35px;
  height: 35px;
  justify-content: flex-end;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;
  background-color: var(--main-background);
  height: 100vh;
}

.img-a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.1px solid var(--link-hover-color);
  background: var(--footer-background);
  height: 100%;
  margin: -1px;
}

.img-box {
  text-align: center;
  padding: 40px;
  height: 100%;
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  
}
img{
  object-fit: cover;
  filter: grayscale(100%)
}

h1 {
  font-size: 233.5px;
  font-weight: 900;
  font-family: Futura;
  color: var(--footer-link);
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  font-size: 32px;
  font-weight: 500;
  color: var(--footer-link);
  margin-top: 20px;
  margin-bottom: 20px;
}

img{
  width: 35px;
  height: 35px;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .navbar {
    /* padding-top: 15px; */
    height: auto;
    margin: 0;
    width: 100%;
    /* margin: 40px; */
    height: auto;
  }

  .navbar ul {
    flex-direction: row;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 20px 40px 0px 40px;
    align-content: center;
  }

  .navbar li {
    width: 10px;
    /* height: 25px; */
    width: 25px;
    /* position: absolute; */
    /* bottom: 0; */
    margin-top: auto;
    /* margin-bottom: auto; */
  }

  .navbar a{
    font-size: 18px;
  }

  .header {
    padding-top: 30px;
  }

  img {
    height: 25px;
    width: 25px;
  }

  .img-a {
    width: calc(100% - 40px);
    margin-bottom: 20px;
    flex: 0 0 100%;
  }

  body {
    overflow: scroll;
  }

  .content-container {
    height: 100vh; 
    overflow-y: auto; 
  }

  .menu {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0 40px;
  }

  .img-a{
    height: -webkit-fill-available;
  }

  .menu .menu-header{
    height: 54px;
    margin-top: 10px;
  }

  .menu .lists {
    margin: 20px;
  }

  .close-menu-btn {
    width: 20px;
    height: 20px;
  } 

  p{
    font-size: 22px;
  }
  
  h1{
    font-size: 211.75px;
  }

  
  .header{
    /* height: 50vh; */
    padding-left: 10px;
    margin: 0 30px;
    overflow-y: scroll;
    display: flex;
    flex-wrap: nowrap;
    scrollbar-width: 0;
  }
}

body {
  overflow: hidden;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
  color: var(--text-color);
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0px 0px 30px 0px;
}

.footer a {
  color: var(--text-color);
  margin: 0 10px;
  text-decoration: none;
  border: 0.01px solid transparent;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  margin: 0;
  font-size: 20px;
  display: inline-block;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
}

.footer i {
  font-size: 24px;
  padding: 0px 5px;
}

.footer-f {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

